<table class="formTable" style="width: 100%;">
    <tr style="vertical-align: middle">
        <td style="padding-left: 5px; width: 50px;">
            <div id="right" class="circleButton" style="background-color: red;"
                 ng-click="panel.callActorService(component, 'off' )">
                <div><i class="fa fa-power-off"></i></div>
            </div>
        </td>
        <td style="width: 99%;">
            <input ti-slider=""
                   ti-model="component._state.pan" ti-min="'0'"
                   ti-max="'100'"
                   ti-change="panel.callActorService(component, 'changePan', {level: component._state.pan} )">
        </td>
        <td style="width: 45px; padding-right: 10px;">
            <ti-color-picker
                    ng-model="component._state.hex"></ti-color-picker>
        </td>
    </tr>
    <tr style="vertical-align: middle">
        <td style="padding-left: 5px; width: 30px;">
        </td>
        <td style="width: 99%;">
            <input ti-slider=""
                   ti-model="component._state.tilt" ti-min="'0'"
                   ti-max="'100'"
                   ti-change="panel.callActorService(component, 'changeTilt', {level: component._state.tilt} )">
        </td>
        <td>
            <div class="btn-group">
                <a ui-turn-on='goboDropdown' class='btn'>
                    <i class="fa fa-futbol-o"></i>
                </a>
                <ul
                        class="dropdown-menu"
                        ui-outer-click="Ui.turnOff('goboDropdown')"
                        ui-outer-click-if="Ui.active('goboDropdown')"
                        role="menu"
                        ui-show="goboDropdown"
                        ui-state="goboDropdown"
                        ui-turn-off="goboDropdown">
                    <li><a ng-click="panel.callActorService(component, 'setGobo', {gobo: 1} )">Gobo 1</a></li>
                    <li><a ng-click="panel.callActorService(component, 'setGobo', {gobo: 2} )">Gobo 2</a></li>
                    <li><a ng-click="panel.callActorService(component, 'setGobo', {gobo: 3} )">Gobo 3</a></li>
                    <li><a ng-click="panel.callActorService(component, 'setGobo', {gobo: 4} )">Gobo 4</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>

